profiles {
  standard {
    docker.enabled = true
  }

  docker {
    docker.enabled = true
    wave.enabled = true  
    wave.freeze = true
    wave.build.repository = 'docker.io/pditommaso/my-mirror' 
    tower.accessToken = "$TOWER_ACCESS_TOKEN"
  }

  quay {
    singularity.enabled = true
    wave.enabled = true  
    wave.freeze = true
    wave.build.repository = 'docker.io/pditommaso/my-mirror' 
    tower.accessToken = "$TOWER_ACCESS_TOKEN"
  }

}